<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/resources/js/common/header.js"></script>
    <script src="/resources/js/common/contents.js"></script>
    <link rel="stylesheet" href="/resources//css/common/header.css">
    <link rel="stylesheet" href="/resources/css/common/contents.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>