<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <script src="/resources/js/common/header.js"></script>
    <script src="/resources/js/common/contents.js"></script>
    <script src="/resources/js/reservation/reservationMain.js"></script>
    <link rel="stylesheet" href="/resources/css/common/header.css" />
    <link rel="stylesheet" href="/resources/css/common/contents.css" />
    <link rel="stylesheet" href="/resources/css/reservation/reservationmain.css" />

    
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1><img src="/resources/images/Logo.png" alt="" /></h1>
        <nav>
          <div id="main_list_icon">
            <div>
              <a href="#"><img src="/resources/images/Home.png" alt="" /></a
              ><span>홈</span>
            </div>
            <div>
              <a href="#"><img src="/resources/images/Approval.png" alt="" /></a
              ><span>전자결재</span>
            </div>
            <div>
              <a href="#"
                ><img src="/resources/images/Attendance.png" alt="" /></a
              ><span>근태관리</span>
            </div>
            <div>
              <a href="#"><img src="/resources/images/calendar.png" alt="" /></a
              ><span>일정관리</span>
            </div>
            <div>
              <a href="#"><img src="/resources/images/Address.png" alt="" /></a
              ><span>주소록</span>
            </div>
            <div>
              <a href="#"
                ><img src="/resources/images/Organization.png" alt="" /></a
              ><span>조직도</span>
            </div>
            <div>
              <a href="#"><img src="/resources/images/Mail.png" alt="" /></a
              ><span>쪽지</span>
            </div>
            <div>
              <a href="#"
                ><img src="/resources/images/Messanger.png" alt="" /></a
              ><span>메신저</span>
            </div>
            <div>
              <a href="#"
                ><img src="/resources/images/reservation.png" alt="" /></a
              ><span>자원예약</span>
            </div>
            <div>
              <a href="#"><img src="/resources/images/board.png" alt="" /></a
              ><span>게시판</span>
            </div>
          </div>
        </nav>
      </header>

      <section>
        <article>
          <h2>자원예약</h2>
          <div>
           <a href="/views/reservation/reservationApply.html"><button class="btn">예약신청</button></a>
          </div>
          <ul class="sub_list">
            <li>
              <div>
                <img src="/resources/images/Approval.png" alt="" />
                <span class="textcolor">예약현황</span>
              </div>
            </li>
            <li class="sub_list_text">
              <div>
                <img src="/resources/images/Approval.png" alt="" />
                <a href="/views/reservation/reservationDetails.html"> <span>내예약내역</span></a>
              </div>
            </li>
          </ul>
        </article>

      
      </section>
      <main>
        <div class="content">
          <div class="subject">
            <strong>예약현황</strong>
           
            <div class="line"></div>
          </div>

          <div class="meeting-room-container">
            <div class="meeting-room-box">
                <img src="/resources/images/meetingRoom (1).jpg" alt="Meeting Room 1" class="meeting-room-image">
                <div class="meeting-room-text">GREEN ROOM (6F)</div>
            </div>
            <div class="meeting-room-box">
                <img src="/resources/images/meetingRoom (2).jpg" alt="Meeting Room 2" class="meeting-room-image">
                <div class="meeting-room-text">BLUE ROOM (5F)</div>
            </div>
            <div class="meeting-room-box">
                <img src="/resources/images/meetingRoom (3).jpg"alt="Meeting Room 3" class="meeting-room-image">
                <div class="meeting-room-text">PROJECT ROOM (4F)</div>
            </div>
        </div>

         
        <div id="calendars" class="calendar-column">
          <div id="calendar1" class="calendar-column"></div>
          <div id="calendar2" class="calendar-column"></div>
          <div id="calendar3" class="calendar-column"></div>
      </div>
  

        </div>
      </main>
    </div>

    
   
  </body>
</html>
