main{
    width: 600px;
    height: 900px;
    border: solid 3px #E9EAEC;
    color: #696868;
}
li{
    list-style: none;
}
.top {
    display: flex;
    justify-content: space-between;
    
}

.top h3, .top .stamp_zone {
    margin: 0; /* 기본 마진 제거 */
}
.top h3{
    margin: 50px;
}

.stamp_zone {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    text-align: center; /* 세로 중앙 정렬 */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.stamp_title, .stamp, .stamp_name {
    margin: 0; /* 기본 마진 제거 */

    border: solid 1px #E9EAEC;
    width: 110px;

}
.stamp{
    width: 110px;
    height: 100px;    
}
.content_1{
    margin-top: 30px;
    border-bottom: solid 1px #e2e2e2 ;
    
}

.info{
    margin: 10px;
    height: 30px;
    border-bottom: solid 1px #E9EAEC ;
    /* background-color: #696868; */
}
#department,#position,#username,#submit_date{
    float: right;
    /* margin-right: 150px; */
    width: 75%;
    border: none;
    height: 25px;
    border-radius: 4px;
    background-color: #f1f1f1;

}
.content_1 ul{
    margin-top: 30px;
}
.content_1 span{
    font-size: 25px;
    margin-left: 30px;
    color: #696868;
  
}