


main .button_list{
  border-bottom: 1px solid black;
  padding: 30px 0;
  
}

main .button_list button{
  border: 1px solid rgb(119, 119, 119);
  padding: 8px 14px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: 200ms;
}

main .button_list button:hover {
  background-color: #94A9FF;
  border: 1px solid #94A9FF;
}

main .form_wrap {
  padding: 14px 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

main .form_wrap div{
  display: flex;
}

main .form_wrap div button{
  width: 90px;
  height: 30px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid rgb(117, 117, 117);
  margin: 0 8px;
  font-size: 16px;
  transition: 200ms;
}

main .form_wrap div button:hover{
  background-color: #94A9FF;
  border: 1px solid #94A9FF;
}

main .form_wrap label{
  width: 200px;
  display: inline-block;
  margin-bottom: 20px;
}

main .form_wrap div:nth-child(2) input{
  margin-left: 13px;
}

main .form_wrap .file_txt{
  display: flex;
  flex-direction: column;
}

main .form_wrap div:nth-child(3) label{
  margin-bottom: 0;
}

main .form_wrap div input{
  height: 30px;
  width: 100%;
}

main .form_wrap span{
  font-weight: bold;
}

main .form_wrap div:nth-child(3){
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

main .form_wrap input[type="file"] {
  display: none;
}

main .form_wrap div label img{
  width: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.form_wrap #fileList {
  margin-left: 175px;
  width: 1165px;
  height: 70px;
  border: 1px solid rgb(145, 145, 145);
  margin-bottom: 20px;
  overflow-y: auto;
}














