<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/resources/js/common/header.js"></script>
  <script src="/resources/js/common/contents.js"></script>
  <script src="/resources/js/calendar/index.global.js"></script>
  <link rel="stylesheet" href="/resources/css/common/header.css">
  <link rel="stylesheet" href="/resources/css/calendar/cal_editsch.css">
</head>
<body>

  <div id="wrap">
    <header>
      <h1><img src="/resources/images/Logo.png" alt=""></h1>
      <nav>
        <div id="main_list_icon">
          <div>
            <a href="#" ><img src="/resources/images/Home.png" alt=""></a><span>홈</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Approval.png" alt=""></a><span>전자결재</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Attendance.png" alt=""></a><span>근태관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/calendar.png" alt=""></a><span>일정관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Address.png" alt=""></a><span>주소록</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Organization.png" alt=""></a><span>조직도</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Mail.png" alt=""></a><span>쪽지</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Messanger.png" alt=""></a><span>메신저</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/reservation.png" alt=""></a><span>자원예약</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/board.png" alt=""></a><span>게시판</span>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <article>
        <h2 class="menu_schedule">일정관리</h2>
        <div id="menu_1">
          <a href="#"><img src="/resources/images/calendarIcon.png" alt=""></a><span>캘린더</span>
        </div>
        <div>
          <button class="cal_btn">일정추가</button>
          <button class="cal_btn">캘린더 설정</button>
        </div>


        <nav class="cal_nav">
          <ul class="cal_ul">
            <li>
              <input type="checkbox" id="allcal_checkbox">
              <label for="allcal_checkbox">전체일정</label>
            </li>
            <li class="cal_menu"><a href="#내캘린더">내 캘린더</a>
              <ul>
                <li>
                  <input type="checkbox" id="cal_checkbox_1">
                  <label for="cal_checkbox_1">개인일정<span class="dot" style=" background-color: red"></span></label>
                </li>
                <li>
                  <input type="checkbox" id="cal_checkbox_2">
                  <label for="cal_checkbox_2">외부일정<span class="dot" style=" background-color: blue"></span></label>
                </li>
              </ul>
            </li>
            <li class="cal_menu"><a href="#내캘린더">공유 캘린더</a>
              <ul>
                <li>
                  <input type="checkbox" id="companysch_cb">
                  <label for="companysch_cb">회사일정<span class="dot_2" style=" background-color: orange"></span></label>
                </li>
                <li>
                  <input type="checkbox" id="departsch_cb">
                  <label for="departsch_cb">부서일정<span class="dot_2" style=" background-color: green"></label>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        
        
      </article>
    </section>

    <main>

    <div class="add_detail_box">
      <h2> 일정 수정 </h2>
      <div class="addbox">
        <table class="input_tb">
          <tr>
            <td>일정명</td>
            <td><input id="sch_title" value="수정전 일정이 들어감"></td>
          </tr>
          <tr>
            <td>캘린더</td>
            <td>
              
              <select id="sch_cal" >
                <optgroup label="내 캘린더">
                  <option value="개인일정"> 개인일정<span class="dot1" style=" background-color: red"></span></option>    
                  <option value="외부일정" >외부 일정</option>   
                </optgroup> 
                <optgroup label="공유 캘린더">
                  <option value="회사일정">회사 일정</option>    
                  <option value="부서일정">부서 일정</option>
                </optgroup>
              </select>
            </td>

            
          </tr>
          <tr>
            <td>일시</td>
            <td><div class="datebox"><input type="datetime-local" id="start_date"> ~ <input type="datetime-local" id="end_date"></div></td>
            <td class="cb_zone"><input type="checkbox" id="allday"><label for="allday">종일</label></td>
            
          </tr>
          <tr>
            <td>장소</td>
            <td><input value="원래 장소 info가 들어감"></td>
            <td><button id="find_map">찾기</button></td>
          </tr>
          <tr>
            <td>참석자</td>
            <td><span class="attlist">김땡땡</span>
                <button class="add_att">+</button>
            </td>
          </tr>
          <tr>
            <td>내용</td>
            <td><textarea id="sch_detail" style="resize: none;"></textarea></td>
          </tr>
        </table>
        <div class="chartbox"><img src="/resources/images/org_chartimg.png"></div>
      </div>
      <div class="btns">
        <button class="sub_btn" type="submit">등록</button>

        <button class="cancle_btn">취소</button>
      </div>
    </div>
      

    
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var allcalCheckbox = document.getElementById("allcal_checkbox");
        var checkboxes = document.querySelectorAll(".cal_nav input[type='checkbox']");
    
        allcalCheckbox.addEventListener("change", function () {
          checkboxes.forEach(function (checkbox) {
            checkbox.checked = allcalCheckbox.checked;
          });
        });
    
        checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener("change", function () {
            // 전체일정 체크박스의 체크 여부 업데이트
            allcalCheckbox.checked = areAllCheckboxesChecked();
          });
        });
    
        function areAllCheckboxesChecked() {
          var allChecked = true;
          checkboxes.forEach(function (checkbox) {
            if (!checkbox.checked) {
              allChecked = false;
            }
          });
          return allChecked;
        }
      });
    </script>
    
</body>
</html>