body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meeting-room-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

.meeting-room-box {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.meeting-room-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.meeting-room-text {
    font-weight: bold;
}
/* ===============================================================================여기서 부터 달력============================================================== */
#calendar {
    width: 100%;
    margin-top: 20px;
}

/* FullCalendar 스타일 수정 */
.fc-unthemed .fc-today {
    background: #415CBE;
    color: #fff;
}

.fc-content {
    color: #333;
}

.fc-event {
    background-color: #415CBE;
    color: #fff;
}

.fc-title {
    font-size: 14px;
}

.fc-axis {
    color: #333;
}

.fc-widget-header {
    background-color: #415CBE;
    color: #fff;
}

.fc-center h2 {
    font-size: 20px;
    font-weight: bold;
}

.fc-center button {
    margin-right: 10px;
    font-size: 14px;
    background-color: #415CBE;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

.fc-center button:hover {
    background-color: #314b94;
}

/* FullCalendar 시간 레이블 스타일 수정 */
.fc-time-grid .fc-slats td,
.fc-time-grid .fc-axis {
    height: 40px; /* 시간 레이블의 높이를 조절합니다. */
    font-size: 14px; /* 시간 레이블의 폰트 크기를 조절합니다. */
}