.action-buttons button {
    padding: 10px 20px; /* 버튼 내부 여백 조절 */
    font-size: 16px;   /* 폰트 크기 조절 */
    background-color: #94A9FF; /* 버튼 배경색 조절 */
    color: #fff; /* 버튼 텍스트 색상 조절 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
  }
  

  .subject strong {
    color: #415CBE; /* 내 예약내역의 기본 색상 */
}

#reservationEditContainer {
  width: 70%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* 아래 여백 추가 */
}

#reservationEditForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="datetime-local"] {
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: #415CBE;
  outline: none;
}

button {
  padding: 12px 20px; /* 높이와 너비 조절 */
  background-color: #415CBE;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #314b94;
}

button#cancelEditButton {
  background-color: #ccc;
  color: #333;
}

button#cancelEditButton:hover {
  background-color: #999;
}

/* 참석자 상자 스타일 수정 */
.additional-info {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 70%; /* 가로폭 조절 */
  margin-bottom: 20px; /* 하단 여백 추가 */
}

.attendee-box {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  flex: 1; /* 참석자 상자에 남은 공간을 모두 차지하도록 설정 */
}

label[for="attendees"] {
  margin-right: 10px; /* 오른쪽 여백 추가 */
  font-weight: bold;
}

input#attendees {
  flex: 2; /* 가로폭 조절 */
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 조직도 버튼 스타일 */
#orgChartButton {
  margin-left: 1px; /* 왼쪽 여백 추가 */
  padding: 12px 20px; /* 버튼 내부 여백 조절 */
  font-size: 16px;
  background-color: #415CBE;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#orgChartButton:hover {
  background-color: #314b94;
}

