

.group_wrap{
  display: flex;
  margin-top: 80px;
}

.group{
  width: 400px;
  height: 600px;
  border: 1px solid black;
  padding: 16px;
  margin-right: 50px;
}

main .group_search {
  position: relative;
}

main .group_search input[type="search"]{
  width: 370px;
  height: 32px;
  margin-bottom: 20px;
}

main  .group_search label img{
  position: absolute;
  top: 4px;
  right: 4px;
}

main .group_list label{
  cursor: pointer;
}

/* 조직도 멤버 정보 */

.group_info{
  width: 100%;
  display: flex;
}

.group_info_wrap .note_btn{
  border: 1px solid rgb(117, 117, 117);
  padding: 6px 14px;
  border-radius: 6px;
  transition: 200ms;
}

.group_info_wrap .note_btn:hover{
  border: 1px solid #94A9FF;
  background-color: #94A9FF;
}

.group_info_wrap hr{
  margin: 20px 0;
}

.group_info img{
  width: 180px;
  height: 180px;
}

.group_member_info li strong{
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}

.group_member_info li span {
  width: 250px;
  display: inline-block;
}


/* 조직도 부서 정보 */

.group_department_info_wrap{}

.group_department_info {
  margin-top: 40px;
}

.group_department_info li{
  margin-bottom: 40px;
}

.group_department_info li strong {
  width: 240px;
  display: inline-block;
  font-size: 18px;
}

.department_member {
  display: flex;
}


.group_department_info li > span{
  display: inline-block;
  border: 1px solid rgb(95, 95, 95);
  width: 380px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}


.department_member div{
  border: 1px solid rgb(95, 95, 95);
  width: 380px;
  height: 480px;
  margin-left: 5px;
  padding: 10px;
}

.department_member div span{
  transform: translate(-8px , -5px);
  display: inline-block;
}
