li {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

#wrap{
    width: 1050px;
    height: 1600px;
    border: 1px solid red;
    
}

.texttitle{
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-align: center;
    border: 1px solid #dcdcdc;
    background-color: #F2F6FF;
    
}

.approval{
    display: flex;
    justify-content: flex-end;
    
    padding-top: 20px;

    
}
.approvalul{
    
    width: 130px;
    
}
.approvalul li{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    color: #696868;
}
.one{
    height: 40px;
}
.two{
    height: 100px;
}
.three{
    height: 40px;
}
.four{
    height: 30px;
}

.text{
     padding: 20px 80px ;
    background-color: #F2F6FF;
}

.inputtext{
    
    border: none;
    color: gray;
    padding: 10px;
    width: 700px;
    
}

.tbtb td{
    
    border-bottom: 1px solid #dcdcdc;

}

.title{
    padding-bottom: 100px;
    border-bottom: 1px solid #dcdcdc;
}

.inputtext1{
    padding: 10px;
    width: 700px;
    border: none;
}

.selectdetail th{
    background-color: #F2F6FF;
    padding: 20px 80px;
    border-top:1px solid #dcdcdc;
    

    border-bottom:1px solid #dcdcdc;

}
.selectdetail{
    padding-top: 30px;
    
}

.selectdetail td{
    
    
    padding: 20px;
    width: 484px;
}
.hihi{
    border-bottom:1px solid #dcdcdc;

}

.inputbox{
    width: 430px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputbox1{
    width: 205px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}





.btn1{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 20px;
    border-radius: 6px;
    border: none;
    background-color: #F2F6FF;
}

.btn:hover{
    background-color: #94A9FF;
    color: white;
}

.wrap2{
    margin: 20px;
}





