<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/resources/js/common/header.js"></script>
  <script src="/resources/js/common/contents.js"></script>
  <script src="/resources/js/approval/approvalMain.js"></script>
  <link rel="stylesheet" href="/resources/css/common/header.css">
  <link rel="stylesheet" href="/resources/css/approval/approvalMain.css">
  
  
</head>
<body>

  <div id="wrap">
    <header>
      <h1><img src="/resources/images/Logo.png" alt=""></h1>
      <nav>
        <div id="main_list_icon">
          <div>
            <a href="#" ><img src="/resources/images/Home.png" alt=""></a><span>홈</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Approval.png" alt=""></a><span>전자결재</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Attendance.png" alt=""></a><span>근태관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/calendar.png" alt=""></a><span>일정관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Address.png" alt=""></a><span>주소록</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Organization.png" alt=""></a><span>조직도</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Mail.png" alt=""></a><span>쪽지</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Messanger.png" alt=""></a><span>메신저</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/reservation.png" alt=""></a><span>자원예약</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/board.png" alt=""></a><span>게시판</span>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <article>
        <h2>전자결재</h2>
        <div>
          <button class="btn">신규기안</button>
        </div>
        <ul class="sub_list">
          <li>
            <div>
              <img src="/resources/images/Approval.png" alt="">
              <span class="textcolor">결재할 문서</span>
            </div>
          </li>
          <li class="sub_list_text">
            <div>
              <img src="/resources/images/Approval.png" alt="">
              <span>진행중인 문서</span>
            </div>
          </li>
          <li>
            <div>
              <img src="/resources/images/Mydocumentbox.png" alt="">
              <span>내 문서함</span>
            </div>
          </li>
          <li>
            <div>
              <img src="/resources//images/Temporarystoragebox.png" alt="">
              <span>임시보관함</span>
            </div>
          </li>
          <li>
            <div>
              <img src="/resources/images/Shareddocumentbox.png" alt="">
              <span>공유받은 문서함</span>
            </div>
          </li>

        </ul>
      </article>


      <div class="middle">
        <div class="topbox">
          <div id="new-plan">
            <span>신규기안</span>
          </div>
          <div id="search-bar">
            <input type="text" id="search-input" placeholder="검색을 입력하세요." aria-label="검색">
            <button id="search-button">검색</button>
          </div>
        </div>
      </div>
      
      
    </section>
    <main>
      <div class="content">
          <div class="subject">
            <strong>결재할 문서</strong>
            <div class="line">
              <div class="search_box">
                  <input type="search"  placeholder="제목,기안자,문서번호,양식명을 입력하세요." >
              </div>
            </div>
          </div>

          <div class="select_line">
            <!-- 셀렉트 문-->
            <!-- <select name="messageLead">
                <option value="전체">전체</option>
                <option value="결재함">결재함</option>
                <option value="참조함">참조함</option>
                <option value="반려함">반려함</option>
            </select> -->
            <!-- <div class="attention_Text">
              <img src="/resources/images/Exclamation.png" alt="">
              <span>보관하지 않은 쪽지는 3개월 후 자동 삭제됩니다</span>
            </div> -->
          </div>
  
          <table>
              <thead>
                    <th><input type="checkbox"></th>
                    <th>분류</th>
              
                    <th>제목</th>
                    <th>기안자</th>
                    <th>기안일</th>
                    <th>상태</th>
              </thead>
              <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>휴가 신청서</td>
                    <td><a href="/views/approval/vacation.html">연차사용 신청서</a></td>
                    <td>이준희</td>
                    <td>2024-01-05 14:20</td>
                    <td><button class="btnStatus" onclick="toggleContent()">진행중</button></td>
                </tr>
              </tbody>
          </table>
          <div id="contentBox" class="content-box">
            <div class="statustitle">
              <span>결재 현황</span><span>[개발 1팀] 연차사용 신청서</span>
            </div>

            <div class="profile">
              <ul class="profileBox">
              <li><img class="profileimg" alt="" src="/resources/images/profileimg1.png"></li>
              <li>
                <ul class="text">
                  <li>[사원 이준희]</li>
                  <li>개발본부/개발1팀</li>
                  <li class="insideStatus">기안자</li>
                </ul>
              </li>
            </ul>
            <ul class="profileBox">
              <li><img class="profileimg" alt="" src="/resources/images/profileimg1.png"></li>
              <li>
                <ul class="text">
                  <li>[팀장 장재영]</li>
                  <li>개발본부/개발1팀</li>
                  <li class="insideStatus">결재</li>
                </ul>
              </li>
            </ul>
            <ul class="profileBox">
              <li><img class="profileimg" alt="" src="/resources/images/profileimg1.png"></li>
              <li>
                <ul class="text">
                  <li>[본부장 우지선]</li>
                  <li>개발본부/개발본부</li>
                  <li class="insideStatus">결재</li>
                </ul>
              </li>
            </ul>
            <ul class="profileBox">
              <li><img class="profileimg" alt="" src="/resources/images/profileimg1.png"></li>
              <li>
                <ul class="text">
                  <li>[사장 축온청]</li>
                  <li>경영본부/경영본부</li>
                  <li class="insideStatus1">미결</li>
                </ul>
              </li>
            </ul>
            <ul class="profileBox">
              <li><img class="profileimg" alt="" src="/resources/images/profileimg1.png"></li>
              <li>
                <ul class="text">
                  <li>[대장 김수연]</li>
                  <li>경영본부/경영본부</li>
                  <li class="insideStatus1">미결</li>
                </ul>
              </li>
            </ul>
          </div>
            
            <!-- 이미지, 텍스트 및 기타 컨텐츠 포함 가능 -->
          </div>
          
  
          <select name="page_number_choice" id="page_number_choice"> 
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
          <label class="page_number_choice_text" for="page_number_choice">페이지당 항목수</label>
      </div>
    </main>
  </div>


</body>
</html>