<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/resources/js/common/header.js"></script>
    <script src="/resources/js/common/contents.js"></script>
    <link rel="stylesheet" href="/resources/css/common/header.css">
    <link rel="stylesheet" href="/resources/css/common/contents.css">
    <style>
        .sub_content {
            /* position: absolute; */
            width: 1400px;
            height: 860px;
            /* left: 500px; */
            padding: 90px 0 0px 150px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>

    <div id="wrap">
        <header>
            <h1><img src="/resources/images/Logo.png" alt=""></h1>
            <nav>
                <div id="main_list_icon">
                    <div>
                        <a href="#"><img src="/resources/images/Home.png" alt=""></a><span>홈</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Approval.png" alt=""></a><span>전자결재</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Attendance.png" alt=""></a><span>근태관리</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/calendar.png" alt=""></a><span>일정관리</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Address.png" alt=""></a><span>주소록</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Organization.png" alt=""></a><span>조직도</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Mail.png" alt=""></a><span>쪽지</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/Messanger.png" alt=""></a><span>메신저</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/reservation.png" alt=""></a><span>자원예약</span>
                    </div>
                    <div>
                        <a href="#"><img src="/resources/images/board.png" alt=""></a><span>게시판</span>
                    </div>
                </div>
            </nav>
        </header>

        <section>
            <article>
                <h2 style="margin-bottom: 50px;">마이페이지</h2>
                <!-- <div>
          <button class="btn">쪽지쓰기</button>
        </div> -->
                <ul class="sub_list">
                    <li>
                        <div>
                            <img src="/resources/images/mypage/profile.png" alt="">
                            <span>계정 정보</span>
                        </div>
                    </li>
                    <li class="sub_list_text">
                        <div>
                            <img src="/resources/images/mypage/password.png" alt="">
                            <span>비밀번호 변경</span>
                        </div>
                    </li>
                </ul>
            </article>
        </section>

        <main>
            <div class="content">
                <div class="subject">
                    <strong>내 프로필</strong>
                    <div class="line">
                        <div class="search_box">
                            <!-- <input type="search"  placeholder="보낸사람, 제목을 입력하세요." > -->
                        </div>
                    </div>
                </div>

                <div class="sub_content">


                    <div class="info_picture">
                        <div></div>

                    </div>


                    <div class="info_section">
                    
                    </div>

                </div>
                



            </div>
        </main>


</body>

</html>