
body{
    font-family: 'Nanum Gothic', sans-serif;
}
.menu_schedule{
    margin-top: -20px;
    font-weight: 800;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:30px;
    /* padding: 50px 0; */
    /* margin: 0 10px; */
    /* background-color:rgb(249, 249, 249); */
}

#menu_1{
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    /* align-items: center; */
}

#menu_1 span{ 
    /* vertical-align: middle; */
    margin-top: -2px;
    margin-left: 10px;
    font-size: 23px;
    color:#415CBE;
    font-weight: bold;

}
.cal_btn{
    margin: 5px 0;
    font-size: 16px;
    padding: 15px;
    background-color: #94A9FF;
    border-radius: 6px;
    border: none;
    color: white;
    width: 140px;
    cursor: pointer;
    font-weight: bold;
  }
#calendar{
    width: 70%;
    height: 100%;
    margin:10px;
    /* border: solid 3px aqua; */
    
}
.cal_nav{
    margin-top: 20px;

}
.cal_nav li{
    margin-left: 20px;
    margin-top: 10px;
}


.cal_ul ul {
    display: none;

  }

  /* 클릭 시 중첩된 목록 표시 또는 숨김 */
  .cal_ul li.cal_menu > ul {
    display: block;
  }

  /* ">" 아이콘 스타일링 */
  .cal_ul li > a::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;

  }

  /* 클릭 시 ">" 아이콘 회전 */
  .cal_ul li.cal_menu > a::before {
    transform: rotate(90deg);
  }
  .cal_ul li.cal_menu .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: inline-block;
    margin-left: 5px;
  }
  .cal_ul li.cal_menu .dot_2 {
    width: 15px;
    height: 11px;
    border-radius: 40%;

    display: inline-block;
    margin-left: 5px;
  }



/* 달력부분 */

#calendar {
  width: 70%;
  padding: 10px;
  height: 750px;
  border: 1px solid rgb(231, 229, 229);
}
.fc .fc-button-primary {
  background-color: white;
  border: none;
  color: #415CBE;
  font-weight: bold;
}
.fc .fc-button-primary:hover{
  background-color: #415CBE;
}
.fc-daygrid-day.fc-day-today{
  color: #ffffff;

}
.fc-day{
  color: gray;
}
.fc-day-sun{
  color: red;
}
.fc-day-sat{
  color: #415CBE;
}

#fc-dom-1{
  color: #42414a;
}
/* .fc-non-business{
  background-color: #F8F8F8;
} */
/* .fc .fc-toolbar.fc-header-toolbar{ */
/* background-color: #415CBE; */
/* margin-bottom: 0px; */
/* margin-top: -10px; */
/* }  */




/* 일정 부분 */
#schedule{
  width: 30%;
  border: solid 1px #E9EAEC;
  margin: 10px;
  padding: 10px;
  max-height: 700px; /* 원하는 높이로 설정하세요. */
  overflow-y: auto;

}

#schedule_count {
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;

  padding-top: 1.5px;
  text-align: center;
  background-color: #415CBE;
  color: white;
}
#selected_date{
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.sch_time{
  display: flex;
  color: #696868;
  font-size: 13px;

}
.schedule_box{
  border: 1px solid rgb(214, 213, 213);
  border-radius: 6px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;

  
}
.schbox_top{
  display: flex;
  justify-content: space-between;
}
/* 

.schbox_mid{

  margin-top: 10px;
  font-size: 14px;
  line-height: 1.25;

}
.schbox_mid span{

  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 5px;
}
#sch_title{
  font-size: 16px;
  margin: 10px;

}
.cal_dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;

  display: inline-block;
  margin-left: 5px;

}
.cal_name,.location,.att_list,.sch_datail{
  margin: 10px;
  font-size: 15px;
}
#cal_name,#location,#att_list,#sch_datail{
  font-size: 14px;
}
#sch_datail{
  margin-left: 60px;
  padding: 5px;

} */

.schbox_mid,
.schbox_bot {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.25;
  
}

.schbox_mid span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 5px;
}

#sch_title {
  font-size: 16px;
  margin: 10px;
}

.cal_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.cal_name,
.location,
.att_list,
.sch_datail {
  margin: 10px;
  font-size: 15px;
}

#cal_name,
#location,
#att_list,
#sch_datail {
  font-size: 14px;
}

#sch_datail {
  margin-left: 60px;
  padding: 5px;
}