
body{
    font-family: 'Nanum Gothic', sans-serif;
}
.menu_schedule{
    font-weight: 800;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 50px 0; */
    /* margin: 0 10px; */
    background-color:antiquewhite;
}

#menu_1{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    /* align-items: center; */
}

#menu_1 span{ 
    /* vertical-align: middle; */
    margin-top: -2px;
    margin-left: 10px;
    font-size: 23px;
    color:#415CBE;
    font-weight: bold;

}
.cal_btn{
    margin: 10px 0;
    font-size: 16px;
    padding: 15px 25px;
    background-color: #94A9FF;
    border-radius: 6px;
    border: none;
    color: white;
    width: 140px;
    cursor: pointer;
  }
#calendar{
    width: 70%;
    border: solid 3px aqua;
    
}
.cal_nav{
    margin-top: 30px;

}
.cal_nav li{
    margin-left: 20px;
    margin-top: 10px;
}


.cal_ul ul {
    display: none;

  }

  /* 클릭 시 중첩된 목록 표시 또는 숨김 */
  .cal_ul li.active > ul {
    display: block;
  }

  /* ">" 아이콘 스타일링 */
  .cal_ul li > a::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;

  }

  /* 클릭 시 ">" 아이콘 회전 */
  .cal_ul li.active > a::before {
    transform: rotate(90deg);
  }
  .cal_ul li.active .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: inline-block;
    margin-left: 5px;
  }
  .cal_ul li.active .dot_2 {
    width: 15px;
    height: 11px;
    border-radius: 40%;

    display: inline-block;
    margin-left: 5px;
  }
#schedule{
    width: 30%;
    border: solid 3px brown;

}

















