<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/resources/css/approval/출장.css">
    <title>출장신청서</title>
</head>
<body>
    <div id="wrap">
        <div class="wrap2">
            <div class="approval">
                <span class="texttitle">기 안
                </span>
                <ul class="approvalul">
                    <li class="one">운영 이사/팀원</li>
                    <li class="two">도장</li>
                    <li class="three">축온청</li>
                    <li class="four">날짜</li>
                </ul>
                <span class="texttitle">결 재
                </span>
                <ul class="approvalul">
                    <li class="one">운영 이사/팀원</li>
                    <li class="two">도장</li>
                    <li class="three">축온청</li>
                    <li class="four">날짜</li>
                </ul>
                <ul class="approvalul">
                    <li class="one">운영 이사/팀원</li>
                    <li class="two">도장</li>
                    <li class="three">축온청</li>
                    <li class="four">날짜</li>
                </ul>
                <ul class="approvalul">
                    <li class="one">운영 이사/팀원</li>
                    <li class="two">도장</li>
                    <li class="three">축온청</li>
                    <li class="four">날짜</li>
                </ul>
                <ul class="approvalul">
                    <li class="one">운영 이사/팀원</li>
                    <li class="two">도장</li>
                    <li class="three">축온청</li>
                    <li class="four">날짜</li>
                </ul>
            </div>
    
            
                <table>
                    <thead>
                          <th class="title"><h1>출장신청서</h1></th>
                          <th class="title"></th>
                    </thead>
                    <tbody class="tbtb">
                      <tr >
                          <td class="text">부서</td>
                          <td class="inputsize"><input type="text" placeholder="에브리웨어" class="inputtext"></td>
                      </tr>
                      <tr>
                        <td class="text">직위/직책</td>
                        <td class="inputsize"><input type="text" placeholder="직위/ 직책 자동으로 입력됩니다." class="inputtext"></td>
                    </tr>
                    <tr>
                        <td class="text">기안자명</td>
                        <td class="inputsize"><input type="text" placeholder="기안자명 자동으로 입력됩니다." class="inputtext"></td>
                    </tr>
                    <tr>
                        <td class="text">기안일</td>
                        <td class="inputsize"><input type="text" placeholder="조직원이 기안하는 날짜가 자동으로 입력됩니다." class="inputtext"></td>
                    </tr>
                    <tr>
                        <td class="text">출장 일수 합계</td>
                        <td class="inputsize"><input type="text" class="inputtext1" value="0일"></td>
                    </tr>
                    </tbody>
                </table>
           
    
               
                   
              
            
                
    
            <table class="selectdetail">
                <thead>
                      <th>출장자</th>
                      <th>출장 기간</th>
                </thead>
                <tbody>
                  
                <tr>
                    <td>
                        <input type="text"  class="inputbox" placeholder="휴가 일수를 입력하세요">
                        
                    </td>
    
                    <td>
                        <input type="date" id="start-date"  class="inputbox1">
                        <label for="">~</label>    
                        <input type="date" id="end-date"  class="inputbox1">
                    </td>
                </tr>
                </tbody>
                <thead>
                    <th>출장지 연락처 </th>
                    <th>출장 지역</th>
              </thead>
    
              <tbody>
                  
                <tr>
                    <td class="hihi2">
                        <input type="text"  class="inputbox" placeholder="휴가 일수를 입력하세요">
                    </td>
    
                    <td class="hihi2">
                        <input type="text"  class="inputbox" placeholder="휴가 사유를 입력하세요">
                    </td>
                </tr>
                </tbody>
    
                <thead class="contenttitle">
                    <th colspan="2" class="contenttitle">목적 및 내용</th>
              </thead>
              <tbody>
                  
                <tr>
                    <td colspan="2" class="hihi">
                        <textarea name="" id="" cols="30" rows="10" placeholder="출장 목적 및 내용을 입력하세요" class="inputbox2"></textarea>
                    </td>
                </tr>
                </tbody>
                
    
            </table>
    
            
                <div class="btn1">
                    
                        <button class="btn">기안</button>
                    
                </div>
        </div>
        


    </div>
</body>
</html>