<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <nav class="cal_nav">
    <ul>
        <li><a href="#전체일정">전체일정</a></li>
        <li><a href="#내캘린더">내 캘린더</a>
            <ul>
                <li><a href="#개인일정">개인일정</a></li>
                <li><a href="#외부일정">외부일정</a></li>
            </ul>
        </li>
        <li><a href="#공유캘린더">공유 캘린더</a></li>
    </ul>
</nav>
  
</body>
</html>