<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/resources/js/common/header.js"></script>
  <script src="/resources/js/common/contents.js"></script>
  <link rel="stylesheet" href="/resources/css/common/header.css">
  <link rel="stylesheet" href="/resources/css/common/contents.css">
</head>
<body>

  <div id="wrap">
    <header>
      <h1><img src="/resources/images/Logo.png" alt=""></h1>
      <nav>
        <div id="main_list_icon">
          <div>
            <a href="#" ><img src="/resources/images/Home.png" alt=""></a><span>홈</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Approval.png" alt=""></a><span>전자결재</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Attendance.png" alt=""></a><span>근태관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/calendar.png" alt=""></a><span>일정관리</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Address.png" alt=""></a><span>주소록</span>
          </div>
          <div>
            <a href="/views/organization/organization.html" ><img src="/resources/images/Organization.png" alt=""></a><span>조직도</span>
          </div>
          <div>
            <a href="/views/note/writingNote.html" ><img src="/resources/images/Mail.png" alt=""></a><span>쪽지</span>
          </div>
          <div>
            <a href="#" ><img src="/resources/images/Messanger.png" alt=""></a><span>메신저</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/reservation.png" alt=""></a><span>자원예약</span>
          </div>
          <div>
            <a href="#"><img src="/resources/images/board.png" alt=""></a><span>게시판</span>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <article>
        <h2>쪽지</h2>
        <div>
          <a href="writingNote.html" class="btn">쪽지쓰기</a>
        </div>
        <ul class="sub_list">
          <li>
            <div>
              <img src="/resources/images/Inbox.png" alt="">
              <a href="receiveNote.html">받은쪽지함</a>
            </div>
            <span>5</span>
          </li>
          <li class="sub_list_text">
            <div>
              <img src="/resources/images/Outbox.png" alt="">
              <a href="sentNote.html">보낸쪽지함</a>
            </div>
            <a href="checkNote.html">수신확인</a>
          </li>
          <li>
            <div>
              <img src="/resources/images/note.png" alt="">
              <a href="receiveNoteStorage.html">쪽지보관함</a>
            </div>
          </li>
          <li>
            <div>
              <img src="/resources/images/temporary.png" alt="">
              <a href="sentNoteStorage.html">임시보관함</a>
            </div>
          </li>
          <li>
            <div>
              <img src="/resources/images/Trash.png" alt="">
              <a href="noteTrash.html">휴지통</a>
            </div>
          </li>
        </ul>
      </article>
    </section>

    <main>
      <div class="content">
          <div class="subject">
            <strong>휴지통</strong>
            <div class="line">
              <div class="search_box">
                  <input type="search"  placeholder="보낸사람, 제목을 입력하세요." >
              </div>
            </div>
          </div>

          <div class="select_line">
            <select name="messageLead">
                <option value="전체">전체</option>
                <option value="읽음">읽음</option>
                <option value="안읽음">안읽음</option>
            </select>
            <!-- <div class="attention_Text">
              <img src="/resources/images/Exclamation.png" alt="">
              <span>보관하지 않은 쪽지는 3개월 후 자동 삭제됩니다</span>
            </div> -->
          </div>
  
          <table>
              <thead>
                    <th><input type="checkbox"></th>
                    <th>구분</th>
                    <th>보낸사람</th>
                    <th>제목</th>
                    <th>받은날짜</th>
                    <th>읽은날짜</th>
              </thead>
              <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td></td>
                    <td class="table_subject"></td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
          </table>
  
          <select name="page_number_choice" id="page_number_choice"> 
              <option value=""></option>
          </select>
          <label class="page_number_choice_text" for="page_number_choice">페이지당 항목수</label>
      </div>
    </main>
  
  
</body>
</html>