
body{
    font-family: 'Nanum Gothic', sans-serif;
}

button{
  cursor: pointer;  
}
.menu_schedule{
    margin-top: -20px;
    font-weight: 800;
}
main{

    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* margin-top:30px; */
    padding: 50px 0;
    /* margin: 0 10px; */
    background-color:rgb(249, 249, 249);
}

/* ==================사이드바 구간====================*/

#menu_1,#menu_2{
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    /* align-items: center; */
}
#menu_2{
  margin-top: 50px;
}
#menu_2 span
{ 
  /* vertical-align: middle; */
  margin-top: -2px;
  margin-left: 10px;
  font-size: 23px;
  color:#686868;
  font-weight: bold;

}
#menu_1 span { 
    /* vertical-align: middle; */
    /* margin-top: -2px; */
    margin-left: 10px;
    font-size: 23px;
    color:#415CBE;
    font-weight: bold;

}
.cal_btn{
    margin: 5px 0;
    font-size: 16px;
    padding: 15px;
    background-color: #94A9FF;
    border-radius: 6px;
    border: none;
    color: white;
    width: 140px;
    cursor: pointer;
    font-weight: bold;
  }

.cal_nav{
    margin-top: 20px;

}
.cal_nav li{
    margin-left: 20px;
    margin-top: 10px;
}


.cal_ul ul {
    display: none;

  }

  /* 클릭 시 중첩된 목록 표시 또는 숨김 */
  .cal_ul li.cal_menu > ul {
    display: block;
  }

  /* ">" 아이콘 스타일링 */
  .cal_ul li > a::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;

  }

  /* 클릭 시 ">" 아이콘 회전 */
  .cal_ul li.cal_menu > a::before {
    transform: rotate(90deg);
  }
  .cal_ul li.cal_menu .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: inline-block;
    margin-left: 5px;
  }
  .cal_ul li.cal_menu .dot_2 {
    width: 15px;
    height: 11px;
    border-radius: 40%;

    display: inline-block;
    margin-left: 5px;
  }


/* ===============일정 추가 css=================  */

.project_detail_box{
  position: relative;
  border: 1px solid rgb(247, 247, 247);
  background-color: #F2F6FF;
  width: 1450px;
  height: 950px;
  margin:auto;
  padding: 30px;
  /* background-color: #686868; */
  /* margin-right: 20px; */
  display: flex;
  border-radius: 6px;
  /* box-shadow: 5px 5px 18px -8px rgba(148, 148, 148, 0.75); */
  
  justify-content: space-between; 
  flex-wrap: wrap;

}
.pro_detail{
  padding: 10px;
  position: relative;
  margin-left: 40px;

}
 
 .input_tb{
    margin-left: 120px;
  
}
.input_tb td{
   /* border: 1px solid slateblue;  */
   padding: 10px; 
}
.input_tb input,.input_tb textarea,#sch_cal{
  width: 100%;
}

#start_date,#end_date{
  width: 47.9%;
}


.cb_zone {
  display: flex;
  align-items: center;
  /* width: 200px; */
  
}

.input_tb input,.input_tb textarea,#sch_cal{
  /* background-color: #fafafa; */
  border: 1px solid rgb(185, 185, 185);
  height: 20px;
  padding: 20px;
  border-radius: 6px;
}

.cb_zone label {
  white-space: nowrap;
  margin-top: 9px;
  font-size: 15px;
  margin-left: 5px;
  
  /* background-color: #415CBE; */
}
#sch_detail{
  height: 300px;
  
}
.btns {
  display: flex;
  justify-content: center; /* 추가: 요소를 수평 가운데로 정렬 */
  margin-top: 20px; /* 추가: 위쪽 여백을 조절하여 중앙 정렬 보정 */
}


.sub_btn{
    background-color: #94A9FF;  
}

.input_tb input:focus,.input_tb textarea:focus,#sch_cal:focus {
  box-shadow: inset 0 0 0 2px #94A9FF; /* 내부에 2px 두께의 테두리 추가 및 색상 설정 */
  outline: none; }
#allday{
  margin-top:10px;
}

#find_map,#add_att{
  width: 50px;
  height: 30px;
  border-radius: 6px;
  border:1px solid #94A9FF ; 
  color: #94A9FF;
  background-color: white;

}
#find_map{
  padding-left: 2px;
  padding-bottom: 1px;  

}
.datebox{
  border: 1px solid rgb(185, 185, 185);
  border-radius: 6px;
  
}
#start_date,#end_date{
  border:none
}
.chartbox img{
  width: 270px;
  height: 415px;
}
.project_detail_box .chartbox {
  position: absolute;
  right: 30px;
  top:350px;
 
}


#add_att{
  font-size: 25px;
} 
.sub_btn,.cancle_btn {
  margin-left:20px;
  margin-right:20px;
  border: none;
  color: white;
  width: 60px;
  height: 35px;
  border-radius: 6px; /* 추가: 버튼 사이의 간격을 조절 */
}
.cancle_btn{
  background-color: white;
  border: 1px solid #94A9FF;
  color: #94A9FF;
}
.chartbox{
  width: fit-content;
  display: none;

}

.addbox{
  display: flex;
  margin: auto;
  margin-left: 250px;
}


.pro_detail,.pro_progress{
  width: 600px;
  height: 300px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 5px 5px #aaa9a9dd; 
   
}
.pro_content,.pro_attlist{
  /* background-color: #415CBE; */
  width: 480px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}
.pro_attlist{
  height: 80px;
}
.pro_attlist,.pro_date,.detail_top{
  display: flex;
}
.pro_attlist{
  flex-wrap: wrap; /* 내부 요소들이 넘치면 자동으로 아래줄로 이동하도록 설정 */
  overflow: auto; 
}

 
.pro_progress{
  margin-right: 40px;
}
.pro_info,.pro_date{
  margin: 10px;
}
.pro_content{
  height: 80px;
  overflow-y: auto;
} 
.pro_atttitle{
  margin-bottom: 10px;
}
.btns{
  position: absolute;
  top: 0;
  right: 30px;

}
.edit_btn{
  margin-right: 10px;
}

.btns button{
  border: none;
  background-color: white;

}
.pro_atttitle,.pro_date span{
  font-size: 16px;
}
.pro_attuser{
  border-radius: 6px;
  border:1px solid #94A9FF;
  font-size: 14px;
  padding: 5px;
  margin-right: 15px;
  height: 28px;
  width: 53.5px;
  text-align: center;
  margin-bottom: 10px;
}
.pro_date{
  font-size: 14px;
}
.pro_date span,.pro_startdate{
  margin-right: 10px;
}
.pro_enddate{
  margin-left: 10px;
}
.pro_task{
  /* background-color: #415CBE; */
  display: flex;
  margin: auto;
  width: 1500px;
  justify-content: space-between; 
  
}
.todo,.inprogress,.done{
  width: 350px;
  height: 500px;
  /* background-color: antiquewhite; */
  /* border: 1px solid #415CBE; */
  border-radius: 6px;
  box-shadow: 0px 5px 5px #aaa9a9dd; 
  overflow: auto;

}
.todo{
  margin-left: 40px;
  background-color: #FEF0F0;
}
.done{
  margin-right: 40px;
  background-color: #EFF2FF;
}
.inprogress{
  background-color: #EAFFEA;
}
.pro_task h4{
  padding: 20px;
  font-size: 18px;
  font-weight: 800;
  /* top: 20px; */

}
.task_1{
  width: 300px;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 12px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 2px 5px #aaa9a9dd; 
  
  
  /* justify-content: center; */
}

.task_top{
  display: flex;
  justify-content: space-between; 
  font-size: 14px;
}
.task_content{
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* background-color: #686868; */
  height: 35px;
  overflow: auto;
}
.task_delete{
  /* background-color: yellowgreen; */
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 900;
  color: #B4B4B4;
  cursor: pointer;

}

.task_att{
  display: flex;
}
.task_att span{
  margin-right: 5px;
}
.back_btn{
  position: absolute;
  left: 15px;
  top: 15px;
}